html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
#brand{
    font-size: 3rem;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
.albumCard{
    margin-top: 1rem;
}
.album-shadow:hover{
    box-shadow: 0 0 15px rgba(33,33,33,.2);
}
.album-shadow{
    box-shadow: 0 0 7px rgba(33,33,33,.2);
}
.page-wrapper{
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    align-items: stretch;
}
#footer{
    flex-shrink: 0;
    padding-top: 2rem;
    padding-bottom: 1em;
    color: grey;
}
#footer a{
    color: #adb5bd;
    text-decoration: none;
}
#footer a:hover{
    color: rgb(204, 210, 216);
}
.flex-container{
    display: none;
}
#navBar{
    background-color: rgb(244, 244, 244);
}
.carousel-inner .carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    object-fit: cover;
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}
.slider{
    width: 100%;
}
.news{
    width: 80%;
}
.newsText{
    width: 110px;
    background-color: #ff2115;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.featuredProducts{
    width: 150px;
    background-color: #ff2115;
    padding: 5px 0 5px 0;
    text-align: center;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.newsLine{
    background-color: #ff2115;
    height: 2px;
    margin-bottom: 0;
}
.priceDiv{
    border: 1px solid #d5d5d5;
    color: #454545;
}
.input-bg{
    background-color: rgb(245, 247, 249);
}
.registration-link{
    color: #4e555b;
}
.registration-link:hover{
    color: #363636;
}
.price{
    font-size: 1.2rem;
    color: #2f2f2f;
}
.no-cover-img{
    min-width: 215px;
}
.magnifier{
    max-width: 35px;
}
.placeholderText{
    text-align: center;
    vertical-align: middle;
    display: none;
}
.sidebar{
    color: #393e41;
}
.searchResultsLine{
    display: block;
}
.vertical-align{
    vertical-align: middle;
}
thead>tr{
    border-bottom: 1px solid rgba(23,23,23,0.86);
}
.table-products>tr:nth-of-type(odd):hover{
    background-color: rgba(230,230,230,0.81) !important;
}
.carousel-item>a>img{
    -webkit-filter: brightness(70%);
}
.form-control:focus, .form-select:focus{
    border-color: rgba(29, 33, 36, 0.50);
    box-shadow: 0 0 0 0.3rem rgba(29, 33, 36, 0.25);
}
@media only screen and (min-width: 1200px) and (max-width: 1399px){
    .card-img-top{
        min-width: 255px;
    }
}
@media only screen and (max-width: 1399px) {
    .btn-container {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }
    .btn-container .btn-holder {
        justify-content: flex-end;
        display: flex;
    }
}
@media only screen and (min-width: 1713px) {
    .flex-container{
        display: flex;
        width: 100%;
    }
    .flex-sidebar{
        flex: 18%;
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    .flex-sidebar > div{
        flex: 1 1 auto;
    }
    .flex-content{
        flex: 82%;
    }
    .block-container{
        display: none;
    }
    .placeholderText{
        display: block;
        margin-top: 5rem;
        text-shadow: 0 0 12px rgba(0,0,0,0.22);
    }
    .searchResultsLine{
        width: 70%;
        margin-left: 25px;
    }
    .searchResultsText{
        font-size: 2.5rem;
        color: #393e41;
        padding-left: 25px;
    }
}
@media only screen and (min-width: 2000px) {
    .flex-container{
        display: flex;
        width: 100%;
    }
    .flex-sidebar{
        flex: 13%;
    }
    .flex-content{
        flex: 87%;
    }
    .block-container{
        display: none;
    }
}
@media only screen and (max-width: 1712px) {
    .block-container{
        display: block;
    }
    .page-wrapper{
        display: block;
    }
}
@media only screen and (max-width: 633px) {
    #card-sm{
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .news{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 297px) and (max-width: 575px) {
    .no-cover-img{
        width: 275px;
    }
    .card-img-top{
        width: 275px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .no-cover-img{
        width: 245px;
    }
    .card-img-top{
        width: 245px;
    }
}
@media only screen and (max-width: 767px){
    .selected-album-title{
        font-size: 2rem;
        text-align: center;
        margin-top: 2vh;
    }
    .selected-album-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
@media only screen and (min-width: 767px){
    .form-select{
        max-width: 300px;
    }
}